<!DOCTYPE html>
<html class="no-js" ng-app="decide">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Decide</title>
        <meta name="description" content="">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="mobile-web-app-capable" content="yes">

        <link rel="stylesheet" href="http://bundles.thinkjson.com/bundles/angular-bundle.min.css">
        <link rel="stylesheet" href="/bootswatch.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-controller="MainController">

        <!-- choices -->
        <div class="container">

            <p style="margin-top: 10px">Making decisions is hard, so I made an app to do that for me. Enter your choices, then click decide to randomly pick one.</p>

            <form class="form">
                <div class="form-group" ng-repeat="(i, choice) in choices track by i">
                    <input class="form-control" type="text"
                        ng-model="choices[$index]" />
                </div>

                <button class="btn btn-default" ng-click="add()">Add choice</button>
                <button class="btn btn-default btn-primary" ng-click="decide()">Decide</button>
            </form>

            <h1 ng-bind="choice"></h1>
        </div>

        <script src="http://bundles.thinkjson.com/bundles/angular-bundle.min.js"></script>
        <script src="js/main.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-17520717-2', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
